# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

    - List popular languages for Data Science
    - List popular libraries for Data Science
    - Make a table
    - Do some arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. ggplot
4. Matplotlib

| Data Science Tools |
|-----------|
| Jupyter Notebook |
| R |
| VSCode |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [15]:
200/60

3.3333333333333335

## Author
Luis Eduardo Ruiz Corzo